body {
    width: 100%;
    height: 100%;
    background-image: url("old_white_wood_70100-450x315.jpg");
    background-size: cover;
    display: grid;
    grid-template-areas: "header header header header"
        "sidebar section section aside"
        "sidebar section section aside"
        "sidebar section section aside"
        "footer footer footer footer";
    gap: 50px;
}

a {
    color: black;
}

img {
    padding: 15px;
    width: 110px;
    height: 120px;
    opacity: 0.9;
    position: relative;
    border: 2px solid black;
    background-color: white;
    /* transition: all 2s ease; */
    top: 50px;
    animation: gallery 3s ease-in-out 3s backwards 1;

}

@keyframes gallery {
    from {
        left: 100%;
    }

    to {
        top :50x;
        left: 0%;
    }
}


header {
    position: relative;
    animation: ani;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}

@keyframes ani {
    from {
        width: 30%;
        height: 0%;
    }

    to {
        width: 100%;
        height: 50%;
    }
}

h2 { margin: 5px;
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: xx-large;
    text-shadow: 2px 4px 4px blanchedalmond;
}



.header {
    grid-area: header;
    font-size: xx-large;
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
    color: blanchedalmond;
    background-color: black;
    opacity: 0.4;

}

.section {
    grid-area: section;
    font-size: x-large;
    font-family: 'East Sea Dokdo', cursive;
    border: 2px solid black;
    box-shadow: 4px 4px 4px wheat;
    padding: 5px;
}

.sidebar {
    grid-area: sidebar;
    font-size: x-large;
}

.aside { font-size: xx-large;
    grid-area: aside;
}

.footer {
    grid-area: footer;
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: x-large;
    color: blanchedalmond;
    background-color: black;
    opacity: 0.4;
}

button {
    font-size: x-large;
    background-color: wheat;
}

.sidebar:hover {
    font-size: xx-large;
    color: blanchedalmond;
}